/**
*
* parsley form validate
*
*
*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

    .parsley-errors-list.filled {
        opacity: 1;
    }

.ProfileCategory li a{
    text-decoration: none;
    color: #0d0a0a;
}

.ProfileCategory li:hover,.ProfileCategory li a:hover{
    color: #59b210;
}
/**
*
*End parsley style
*
*/
.short-dropdown {
    cursor: pointer;
    display: block;
    float: left;
    transition: .3s;
}
.products-sort li{
    list-style: none;
    display: block;
    line-height: 25px;
}
.short-dropdown ul{
    display: none;
    margin: 0;
    padding: 0;
}
.short-dropdown:hover ul{
    display: block;
    transition: .3s;
}

.fixed_main_navbar{
    position: fixed;
}

.main_menubar ul.vm-dropdown{
    max-height: calc(560px - 50px) !important;
}
