/**
*
* parsley form validate
*
*
*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.ProfileCategory li a {
    text-decoration: none;
    color: #0d0a0a;
}

.ProfileCategory li:hover, .ProfileCategory li a:hover {
    color: #59b210;
}

/**
*
*End parsley style
*
*/
.short-dropdown {
    cursor: pointer;
    display: block;
    float: left;
    transition: .3s;
}

.products-sort li {
    list-style: none;
    display: block;
    line-height: 25px;
}

.short-dropdown ul {
    display: none;
    margin: 0;
    padding: 0;
}

.short-dropdown:hover ul {
    display: block;
    transition: .3s;
}

.fixed_main_navbar {
    position: fixed;
    width: calc(100% - 85.5%) !important;
    z-index: 99;
}

.main_menubar ul.vm-dropdown {
    max-height: calc(560px - 50px) !important;
}

.mobile-menu-toggler {
    width: 100%;
}

.mobile-menu-toggler .fa {
    display: block;
    float: left;
    padding-top: 7px;
}

.company-info img {
    max-width: 50%;
}

.btn-filter {
    background: none;
    border: none;
    cursor: pointer;
}

.filter-dropdown {
    padding-left: 15px;
    padding-right: 15px;
}

.filter-dropdown a.dropdown-item {
    padding: 5px 0;
    line-height: 16px;
}

.dropdown.filter-box {
    border: 1px solid #efeeeea8;
    display: inline-block;
    margin-left: 5px;
}

.btn-filter:hover .filter-dropdown {
    display: block;
    transition: .3s;
}

.logo img {
    transition: .3s;
}

.sticker.header-bottom.stick .logo img {
    max-height: 40px;
    transition: .3s;
}

.product-item .product-single {
    background: #fff;
}

.product-item-listed-image {
    max-height: 220px;
    overflow: hidden;
    transition: .3s;
}

.product-item .product-single:hover .product-item-listed-image {
    transform: scale(1.05);
    transition: .3s;
}

.add-to-cart {
    background-color: rgba(204, 210, 234, .9);
    border-color: rgba(204, 210, 234, .9);
    color: #181818;
}

.add-to-cart:hover {
    background-color: #1467c1;
    border-color: #1467c1;
    color: #fff;
}

.product-item .product-single:hover,
.product-single:hover .product-action {
    border-color: #1467c1;
}

.product-action .product-compare:hover,
.product-action .product-wishlist:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.male-products .product-item .product-single:hover,
.male-products .product-single:hover .product-action {
    border-color: green;
}

.male-products .product-action .product-compare:hover,
.male-products .product-action .product-wishlist:hover {
    background-color: green;
    border-color: green;
}

.male-products .add-to-cart:hover {
    background-color: green;
    border-color: green;
    color: #fff;
}

.female-products .product-item .product-single:hover,
.female-products .product-single:hover .product-action {
    border-color: hotpink;
}

.female-products .add-to-cart:hover {
    background-color: hotpink;
    border-color: hotpink;
    color: #fff;
}

.product-action .product-compare:hover,
.product-action .product-wishlist:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.female-products .product-action .product-compare:hover,
.female-products .product-action .product-wishlist:hover {
    background-color: hotpink;
    border-color: hotpink;
}

img.cart-page-image {
    max-height: 53px;
}

.cart-row {
    border-top: 1px solid #d0e5f5;
}

.cart-processing {
    font-size: 14px;
}

.paypal-btn,
.btn.paypal-btn:not(:disabled):not(.disabled).active, .btn.paypal-btn:not(:disabled):not(.disabled):active{
    background: url('assets/images/paypal-checkout-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    width: 200px;
    height: 60px;
}
